* {
    box-sizing: border-box;
    margin: 0;
}

body {
    background: url("./images/bg1.jpg");
    background-color: #DBF5FA;
    background-size: cover;
    background-repeat: no-repeat;
    font-family: 'Inter', sans-serif;
}

main {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

h1 {
    color: #293264;
    font-family: Karla;
    font-size: 2rem;
    font-weight: 700;
    margin: 0;
    text-align: center;
}

.description {
    color: #293264;
    font-size: 1rem;
    font-weight: 400;
    margin: 5px 0 30px;
}

.start > .description {
    text-align: center;
}

.options-container {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    height: 350px;
    max-width: 300px;
}

.options-container > label {
    border: none;
    margin-top: 10px;
    background: none;
}

.options-container > input,
.options-container > select {
    width: 300px;
    background: none;
    border: 1px solid #03045E;
    color: #03045E;
    border-radius: 3px;
    padding: 10px 8px;
}

.options-container > input::placeholder {
    color: #a0a0fa;
}

.options-container > .btn {
    margin-top: 20px;
}

.btn {
    border-radius: 15px;
    background: #023E8A;
    width: 190px;
    margin: 0 auto;
    height: 50px;
    border: none;
    color: #DBF5FA;
    font-size: 16px;
    font-weight: 500;
    cursor: pointer;
    margin-bottom: 30px;
}

button:disabled {
    cursor: not-allowed;
}

.start-btn:hover,
.check-btn:hover {
    background: #03045E;
}

.quiz-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.questions-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 40px 75px;
}

.question {
    color: #293264;
    font-family: Karla;
    font-size: 1.2rem;
    font-weight: 700;
    margin: 15px 0;
}

.answers-container {
    margin: 18px 0;
    display: flex;
    flex-wrap: wrap;
    gap: 13px;
}

hr {
    border: 1px solid #293264;
}

label {
    cursor: pointer;
    z-index: 90;
    text-align: center;
    border-radius: 12px;
    border: 1px solid #023E8A;
    color: #293264;
    text-align: center;
    font-size: 1rem;
    font-weight: 500;
    padding: 4px 8px;
    word-break: break-all;
    background: #DBF5FA;
}

input[type="radio"] {
    opacity: 0.011;
    width: 0px;
    z-index: 100;
    margin-bottom: 10px;
}

input[type="radio"]:checked+label {
    background: #48CAE4;
    border: 1px solid #48CAE4;
}

input[type="radio"]:checked:hover+label {
    box-shadow: 0 0 2px #DBDEF0;
}

input[type="radio"]:hover+label {
    box-shadow: 0 0 2px #293264;
}

input[type="radio"].correct-answ+label {
    background: #94D7A2;
    border: 1px solid #94D7A2;
    cursor: default;
}

input[type="radio"].unchecked-answ+label {
    border: 1px solid #023E8A;
    color: #023E8A;
    text-shadow: 0.1px 0.1px 0 #03045E;
    opacity: 0.5;
    cursor: default;
    background: none;
}

input[type="radio"].incorrect-answ+label {
    background: #FFC9C9;
    border: 1px solid #FFC9C9;
}

input[type="radio"].correct-answ:hover+label,
input[type="radio"].unchecked-answ:hover+label,
input[type="radio"].incorrect-answ:hover+label {
    box-shadow: none;
}

.footer {
    display: flex;
    justify-content: space-between;
    gap: 15px;
}